.button {
    padding: 10px 15px;
    background: var(--button-color);
    color: var(--button-text-color);
    border: none;
    outline: none;
    cursor: pointer;

    margin-left: 5px;
    margin-right: 5px;

    border-radius: 5px;
}
