.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--button-color);
    padding: 15px;
    width: 170px;

    border-radius: 3px;
}


.product-img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--button-color);

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}
